<h2>Options</h2>

<button mat-button (click)="show='chat'">Show Chat</button>
<button mat-button (click)="debug=true">Show Chat Debug</button>
<button mat-button (click)="show='stories'">Show Stories</button>
<button mat-button (click)="show='train'">Train</button>

<ng-ai-chatbot-chat [debug]="debug" *ngIf="show === 'chat'"></ng-ai-chatbot-chat>

<ng-ai-chatbot-stories *ngIf="show === 'stories'"></ng-ai-chatbot-stories>
<ng-ai-chatbot-train *ngIf="show === 'train'"></ng-ai-chatbot-train>
<!-- <ng-ai-chatbot-story></ng-ai-chatbot-story> -->