<h1>
  Bots
  <button mat-mini-fab (click)="showAddForm=true">
    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
</h1>

<form [formGroup]="botForm" (submit)="save()" class="row" *ngIf="botForm && showAddForm">
  {{message}}
  <mat-input-container class="col-md-4">
    <textarea matInput formControlName="botName" placeholder="Bot name"></textarea>
  </mat-input-container>
  <mat-input-container class="col-md-4">
    <input matInput formControlName="username" placeholder="username"/>
  </mat-input-container>
  <mat-input-container class="col-md-3">
    <input type="password" matInput formControlName="password" placeholder="password"/>
  </mat-input-container>
  <button class="col-md-1" mat-button>Save</button>
</form>



<form [formGroup]="botForm" (submit)="login()" class="row" *ngIf="botForm && !showAddForm">
    <h3>Login your bot</h3>
    <mat-input-container class="col-md-4">
      <input matInput formControlName="username" placeholder="username"/>
    </mat-input-container>
    <mat-input-container class="col-md-3">
      <input  type="password" matInput formControlName="password" placeholder="password"/>
    </mat-input-container>
    <button class="col-md-1" mat-button>Save</button>
  </form>
<div class="row">
  <mat-card class="col-md-6" *ngFor="let bot of bots">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{bot.botName}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="edit(bot)" *ngIf="bot._id">Edit</button>
      <button mat-button (click)="stories(bot)">Stories</button>
    </mat-card-actions>
  </mat-card>
</div>